<?php

declare(strict_types=1);

namespace {{namespace}};

use WpToolKit\Attribute\Action;
use WpToolKit\Controller\ActionController;

#[Action({{hookName}}, priority: {{priority}}, acceptedArgs: {{acceptedArgs}})]
final class {{className}} extends ActionController
{
    public function handle(...$args): void
    {
        // Put action logic here.
    }
}
